.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--text-over-primary);
  min-width: 30rem;
  padding: 1rem;
  border-radius: .8rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  filter: brightness(80%);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green {
  background: var(--primary);
  color:  var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}

